<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysupervisorapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/logo_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySupervisorApp">
        <activity
            android:name="chef_atelier_activities.MainActChefAt"
            android:exported="false" />
        <activity
            android:name="chef_maintenance_activities.TechnicienMaintenanceDash"
            android:exported="false" />
        <activity
            android:name="searchAdmin.SearchAdmin"
            android:exported="false" />
        <activity
            android:name="task.MainTask"
            android:exported="false" />
        <activity
            android:name="task.AddTask"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".AteliersList"
            android:exported="false" />
        <activity
            android:name=".AddAteliers"
            android:exported="false" />
        <activity
            android:name=".MachineList"
            android:exported="false" />
        <activity
            android:name=".AddMachine"
            android:exported="false" />
        <activity
            android:name=".OuvrierDash"
            android:exported="false" />
        <activity
            android:name=".UsersList"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".AddWorker"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>